
#button1{
    width: 250px;
    left: 80px;
    position: absolute;
    z-index: 100;
    top: 380px;
    transition-property: transform;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
}

#button1:hover{
    transform: scale(1.1);
}

#button2{
    width: 250px;
    left: 80px;
    position: absolute;
    z-index: 100;
    top: 450px;
    transition-property: transform;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
    
}
#button2:hover{
    transform: scale(1.1);
}

#button3{
    width: 200px;
    left: 104px;
    position: absolute;
    z-index: 100;
    top: 525px;
    transition-property: transform;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
}

#button3:hover{
    transform: scale(1.1);
}

#introtitle{
    width: 350px;
    left: 30px;
    position: absolute;
    top: 130px;
}