#intropic{
    position: absolute;
    width: 159.01px;
    height: 108.96px;
    left: 32px;
    top: 96px;
    transition-property: opacity;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

#intropic:hover{
    opacity: 60%;
}

#introtext{
    position: absolute;
    width: 159.01px;
    height: 36.33px;
    left: 32px;
    top: 216.13px;
    transition-property: opacity;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

#introtext:hover{
    opacity: 60%;
}

#backbutton{
    position: absolute;
    width: 47.26px;
    height: 47.26px;
    left: 33px;
    top: 29px;
}

#elementspic{
    position: absolute;
    width: 159.01px;
    height: 108.76px;
    left: 209.33px;
    top: 96px;
    transition-property: opacity;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

#elementspic:hover{
    opacity: 60%;
}

#elementstext{
    position: absolute;
    width: 144.63px;
    height: 36.33px;
    left: 208.97px;
    top: 216.13px;
    transition-property: opacity;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

#elementstext:hover{
    opacity: 60%;
}

#headingspic{
    position: absolute;
    width: 159.01px;
    height: 108.97px;
    left: 209.33px;
    top: 270.25px;
}

#headingstext{
    position: absolute;
    width: 159.01px;
    height: 36.07px;
    left: 208.97px;
    top: 390.4px;    
}

#headingstext:hover{
    opacity: 60%;
}

#attributespic{
    position: absolute;
    width: 159.01px;
    height: 108.96px;
    left: 32.51px;
    top: 270.25px;
    transition-property: opacity;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;    
}

#attributespic:hover{
    opacity: 60%;
}

#attributestext{
    position: absolute;
    width: 159.01px;
    height: 36.07px;
    left: 32px;
    top: 390.4px;
    transition-property: opacity;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;       
}

#attributestext:hover{
    opacity: 60%;
}

#padlockedpic{
    position: absolute;
    width: 159.52px;
    height: 111.02px;
    left: 32px;
    top: 443.98px;    
}

#padlockedpic1{
    position: absolute;
    width: 159.52px;
    height: 111.02px;
    left: 208.82px;
    top: 443.98px;    
}

#headertext{
    position: absolute;
    width: 152.1px;
    height: 22.34px;
    left: 98px;
    top: 42px;
}
